a {
  text-decoration: none;
  color: inherit;
}

.pub_card_info_container p {
  font-family: 'Times New Roman', Times, serif;
  line-height: 20px;
}

select {
  background-color: transparent;
  border: none;
  padding: 5px;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  line-height: inherit;
}

.title {
  padding: 35px;
}

.category_selector_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.select_cat_dropdown {
  -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.271);
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.271);
  font-size: 16px;
  margin-left: 40px;
  border-radius: 4px;
}

.select_cat_dropdown:hover {
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.271);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.271);
}

.pub2_container {
  width: 85vw;
  margin: 0 auto;
}

.pub2_card {
  -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.271);
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.271);
  height: 230px;
  margin: 40px auto;
  padding: 20px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  max-width: 1000px;
}

.pub2_card:hover {
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.271);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.271);
}

.pub_card_info_container {
  max-width: 600px;
  position: relative;
}

.pub2_card_title {
  font-size: 24px;
}

.pub_card_authors {
  color: gray;
  font-size: 12px;
}

.img_cred {
  color: gray;
  font-size: 10px;
  font-weight: lighter;
}

.pub_card_footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 0;
}

.request_pdf_btn {
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 3px;
  border: 1px solid rgba(128, 128, 128, 0.596);
}

.request_pdf_btn:hover {
  box-shadow: 0px 0px 4px 0px rgb(0 0 0 / 27%);
  transition: all 0.1s ease-out;
}

.pub_card_img_container {
  display: flex;
}

.pub_card_img {
  width: 250px;
  align-items: center;
}

@media screen and (max-width: 960px) {
  .pub2_container {
    width: 90vw;
    margin: 0 auto;
  }

  .pub2_card {
    -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.385);
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.271);
    margin: 15px auto;
    padding: 10px;
    border-radius: 5px;
    height: auto;
  }

  .pub_card_info_container {
    height: auto;
    position: none;
  }

  .pub2_card_title {
    font-size: 24px;
  }

  .pub_card_authors {
    color: gray;
    font-size: 12px;
  }

  .pub_card_footer {
    width: 100%;
    position: relative;
    padding: 5px 0px;
  }

  .request_pdf_btn {
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 3px;
    border: 1px solid rgba(128, 128, 128, 0.596);
  }

  .request_pdf_btn:hover {
    box-shadow: 0px 0px 4px 0px rgb(0 0 0 / 27%);
    transition: all 0.1s ease-out;
  }

  .pub_card_img_container {
    justify-content: space-around;
    display: flex;
  }

  .pub_card_img {
    min-width: 200px;
    max-width: 200px;
  }
}